.event-main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}
.event-ready-title-container {
    display: flex;
    flex-direction: column;
}
.event-ready-title-up-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 800px;
}
.event-title-decorative-line {
    width: 800px;
    height: 3px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.event-ready-title-up-container>h1{
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 30pt;
    margin: 8px;
    padding: 0px;
    padding-left: 20px;
}
.event-button-create-game {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-color: #066DA7;
    color: #D9D9D9;
    border: none;
    outline: none;
    margin-bottom: 13px;
    font-size: 15pt;
    font-family: "My Open Sans";
    font-weight: lighter;
    cursor: pointer;
    transition: 0.2s;
}
.event-button-create-game:hover {
    background-color: #045a8b;
}
.event-ready-output-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.event-open-title-container {
    display: flex;
    flex-direction: column;
}
.event-open-title-up-container>h1{
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 30pt;
    margin: 8px;
    padding: 0px;
    /* padding-left: 20px; */
    text-align: right;
}
.event-open-title-up-container {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 800px;
}
.event-open-output-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.event-modal-eventcreate-main {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.event-modal-eventcreate-container {
    width: 690px;
    height: 660px;
    background-color: #1A1A1A;
    padding-top: 40px;
    /* padding-left: 45px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-modal-eventcreate-title {
    background-color: #1A1A1A;
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 30pt;
    width: 570px;
}
.event-modal-eventcreate-title::placeholder {
    color: #ffffff30;
    letter-spacing: 0.1px;
}
.event-modal-eventcreate-date-container {
    display: flex;
    align-items: center;
    color: #D9D9D9;
    width: 570px;
    font-size: 18pt;
    margin-top: 20px;
}
.event-modal-eventcreate-date-title {
    margin-right: 40px;
}
.event-modal-eventcreate-date-input {
    width: 30px;
    height: 25px;
    font-size: 19pt;
    font-family: 'My Open Sans';
    background-color: #1A1A1A;
    color: #D9D9D9;
}
.event-modal-eventcreate-date-input::placeholder {
    color: #ffffff50;
}
.event-modal-eventcreate-metar-input {
    width: 570px;
    margin-top: 40px;
    font-size: 16pt;
    font-family: 'My Open Sans';
    background-color: #1A1A1A;
    color: #D9D9D9;
}
.event-modal-eventcreate-metar-input::placeholder {
    color: #ffffff50;
}
.event-modal-eventcreate-description-input {
    width: 570px;
    margin-top: 10px;
    font-size: 14pt;
    font-family: 'My Open Sans';
    background-color: #1A1A1A;
    color: #D9D9D9;
    height: 150px;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
.event-modal-eventcreate-description-input::placeholder {
    color: #ffffff50;
}
/* Фон скроллбара */
.event-modal-eventcreate-description-input::-webkit-scrollbar-track {
    background: #989898; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-eventcreate-description-input::-webkit-scrollbar-thumb {
    background: #2E2E2E; /* Цвет полоски */
}

/* Сам скроллбар */
.event-modal-eventcreate-description-input::-webkit-scrollbar {
    width: 5px;
}
.event-modal-eventcreate-type-container {
    display: flex;
    width: 570px;
}
.event-modal-eventcreate-button-type-pve {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outist';
    background-color: black;
    color: #D9D9D9;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventcreate-button-type-pvp {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outist';
    background-color: black;
    color: #D9D9D9;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventcreate-teams-container {
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin-top: 30px;
}
.event-modal-eventcreate-team-container {
    width: 270px;
}
.event-modal-eventcreate-team-decorative-line {
    width: 100%;
    height: 5px;
    margin: 5px;
}
.event-modal-eventcreate-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-modal-eventcreate-team-input {
    width: 270px;
    height: 75px;
    resize: none;
    text-align: center;
    font-family: 'My Open Sans';
    font-size: 13pt;
    background-color: #1A1A1A;
    color: #D9D9D9;
}
.event-modal-eventcreate-team-input::placeholder {
    color: #ffffff50;
}
.event-modal-eventcreate-button-publish {
    height: 45px;
    width: 200px;
    background-color: #30762D;
    color: #D9D9D9;
    border: none;
    border-radius: 3px;
    outline: none;
    font-family: 'My Open Sans';
    font-size: 16pt;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
}
.event-modal-eventcreate-button-publish:hover {
    background-color: #255f23;
}