.event-main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}
.event-ready-title-container {
    display: flex;
    flex-direction: column;
}
.event-ready-title-up-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 800px;
}
.event-title-decorative-line {
    width: 800px;
    height: 3px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.event-ready-title-up-container>h1{
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 30pt;
    margin: 8px;
    padding: 0px;
    padding-left: 20px;
}
.event-button-create-game {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-color: #066DA7;
    color: #D9D9D9;
    border: none;
    outline: none;
    margin-bottom: 13px;
    font-size: 15pt;
    font-family: "My Open Sans";
    font-weight: lighter;
    cursor: pointer;
    transition: 0.2s;
}
.event-button-create-game:hover {
    background-color: #045a8b;
}
.event-ready-output-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.event-open-title-container {
    display: flex;
    flex-direction: column;
}
.event-open-title-up-container>h1{
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 30pt;
    margin: 8px;
    padding: 0px;
    /* padding-left: 20px; */
    text-align: right;
}
.event-open-title-up-container {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 800px;
}
.event-open-output-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgba(245, 136, 11, 0.596);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
.event-emptylist {
    color: #282828b4;
    font-family: 'Outist';
    font-size: 30pt;
    padding-left: 30px;
    letter-spacing: 1px;
}
.event-contextmenu {
    background-color: #3b3b3b;
    border-radius: 7px;
    color: #aaaaaa;
    font-family: 'My Open Sans';
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 170px;
    padding: 0px;
}
.event-contextmenu>li {
    width: 170px;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    transition: 0.2s;
}
.event-contextmenu>li:hover {
    background-color: #474747;
}