/* Основная конструкция */
body {
    font-family: 'My Open Sans';
    font-weight: lighter;
    padding-bottom: 50px;
}

/* Иконочки мои сладкие */
.icon-PTCH {
    width: 23px;
    margin-right: 5px;
}

.main-container-ptch {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.left-container-ptch {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 1100px;
    align-items: start;
    padding-left: 80px;
}

.rigth-container-ptch {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* background-color: green; */
    width: 580px;
    align-items: end;
}

.container-comp-r {
    margin-top: 40px;
}


/* Заголовки */
.l-container-ptch {
    padding: 5px;
}

.title-l-ptch {
    font-size: 30pt;
    margin-bottom: 10px;
}

.subtitle-l-ptch {
    font-size: 14pt;
}

.title-container-ptch {
    font-size: 30pt;
}

/* Инпуты и кнопки к ним */
.inputs-container-ptch {
    display: flex;
    flex-direction: column;
}

#send-but-ptch {
    background-color: #353535; 
    color: white;
    font-family: "My Open Sans";
    width: 430px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

#send-but-ptch:hover {
    background-color: #474747; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#send-but-ptch:active {
    background-color: #555555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}

#input-l-ptch {
    border-radius: 5px;
    width: 415px;
    height: 20px;
    background-color: #989898;
    color: rgba( 0, 0 , 0, 0.58);
    font-family: "My Open Sans";
    font-size: 10pt;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

#textarea-l-ptch {
    border-radius: 5px;
    background-color: #989898;
    color: rgba( 0, 0 , 0, 0.58);
    font-family: "My Open Sans";
    width: 430px;
    height: 200px;
    padding: 10px;
    padding-left: 15px;
    resize: none; 
    overflow-y: scroll; 
    overflow-x: hidden;
    font-size: 10pt; 
    text-align: left; 
    vertical-align: top; 
    box-sizing: border-box;
    margin-left: 5px;
}

textarea, input {
    border: none;
    outline: none;
}

.textarea-ptch {
    border: none;
    outline: none;
    padding: 5px;
}

/* Фон скроллбара */
.textarea-ptch::-webkit-scrollbar-track {
    background: #D9D9D9; /* Цвет фона */
    border-radius: 5px;
}

/* Полоска скроллбара */
.textarea-ptch::-webkit-scrollbar-thumb {
    background: #2E2E2E; /* Цвет полоски */
    border-radius: 15px;
    border-right: inset 2px #D9D9D9;
    border-top: solid 3px #D9D9D9;
    border-bottom: solid 3px #D9D9D9;
    width: 4px;
}

/* Сам скроллбар */
.textarea-ptch::-webkit-scrollbar {
    width: 5px;
}




/* Всякая шняга */
.link-ptch {
    color: #066DA7;
    cursor: pointer;
}

.decorative-container-PTCH {
    display: flex;
    justify-content: space-between;
}

.decorative-container-PTCH {
    width: 937px;
    background-color: #C0392B;
    height: 1px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px -8px 20px 2px #c03a2b9c;
}




/* Модальное окошко */
.main-container-modal {
    background-color: #00000050;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-PTCH {
    width: 380px;
    height: 400px;
    background-color: #181818; 
    border-radius: 5px;
    padding: 20px;
}
.modal-PTCH p {
    color: #d9d9d9;
    margin: 0px;
    font-family: 'My Open Sans';
    margin-left: 10px;
}

.decorative-modal-PTCH {
    width: 350px;
    margin-bottom: 20px;
    background-color: white;
    height: 7px;
    border-radius: 10px;
    margin-top: 5px;
}

.title-modal-PTCH {
    font-size: 25px;
    font-family: 'My Open Sans';
}

.subtitle-modal-PTCH {
    font-size: 18px;
    margin-top: 20px;
}

.second-subtitle-modal-PTCH {
    font-size: 17px;
    margin-top: 20px;
}

.modal-PTCH-dop {
    font-size: 17px;
    margin-top: 20px;
    width: 250px;
}

/* Инпуты модального окна */
#input-modal-PTCH {
    width: 370px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    background-color: #d9d9d9;
    padding-left: 15px;
    box-sizing: border-box;
    color: #000;
}

#modal-PTCH-text {
    width: 370px;
    height: 100px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: #d9d9d9;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: top;
    box-sizing: border-box;
    color: #000;
    font-family: "My Open Sans";
    padding: 10px;
    font-size: 12pt;
}

/* Фон скроллбара */
#modal-PTCH-text::-webkit-scrollbar-track {
    background: #d9d9d9; /* Цвет фона */
    border-radius: 5px;
}

/* Полоска скроллбара */
#modal-PTCH-text::-webkit-scrollbar-thumb {
    background: #3F3F3F; /* Цвет полоски */
    border-radius: 5px;
}

/* Сам скроллбар */
#modal-PTCH-text::-webkit-scrollbar {
    width: 5px;
}

.container-but-PTCH {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

#button-modal-PTCH {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 12pt;
    font-family: 'My Open Sans';
    color: #000;
    transition: 0.2s;
}
#button-modal-PTCH:hover {
    background-color: #a7a7a7;
}

.container-check-modal {
    display: flex;
    align-items: center;
    padding-top: 30px;
    /* cursor: pointer; */
    user-select: none;
    width: 300px;
}

/* Модальное окошко ИНПУТИК */
.modal-inputik {
    display: none;
}

.decoration-container-modal {
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 5px;
    transition: 0.2s;
}

.decoration-modal-container {
    width: 20px;
    height: 20px;
    background-color: #969696;
    color: black;
    display: flex;
    border-radius: 2px;
    box-shadow: inset 0px 0px 3px 1px #00000050 ;
    font-family: "Outist";
    font-size: 17pt;
    transition: 0.2s;
}
.decoration-container-modal:hover {
    background-color: #aaaaaa;
}