.banner-container-rules {
    display: flex;
    flex-direction: row;
}

.bunner-text-rules {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.title-bunner-rules {
    font-size: 90pt;
    width: 1100px;
    height: 160px;
    /* padding: 10px; */
    background-color: #D9D9D9;
    color: black;
    font-family: "outist";
}

.title-bunner-rules span {
    height: 50px;
}

.bunner-rules-title {
    margin-left: 100px;
}

.decorative-container-bunner {
    height: 80px;
    width: 1000px;
    background-color: #303030;
    position: relative;
    bottom: 40px;
    left: 20px
}

.text-bunner {
    width: 1100px;
    font-size: 18pt;
    color: rgb(160, 160, 160);
    padding: 50px;
}

.decoration-line-rules {
    height: 6px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.rules-paragraph {
    color: white;
    margin-left: 110px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.rules-paragraph ul {
    padding: 20px;
}

.rules-paragraph ul li {
    margin-top: 10px;
}