body {
    font-family: 'My Open Sans';
    font-weight: lighter;
    padding-bottom: 50px;
}

.main-container-bug {
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

.title-bug {
    font-size: 27px;
    overflow: hidden;
}

.container-info-bug {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.bug-information {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bug-time {
    font-size: 17px;
    justify-content: flex-end;
}


/* Окошко с подробностями */
.bug-details {
    width: 380px;
    height: 100px; /* Фиксированная высота */
    margin-top: 10px;
    padding: 15px;
    background-color: #303030;
    border-radius: 5px;
    overflow-y: scroll; /* Добавляем вертикальный скроллбар */
    overflow-x: hidden;
    word-wrap: break-word;
}

/* Для Chrome и Edge */
.bug-details::-webkit-scrollbar {
    width: 4px; /* Ширина скроллбара */
}

.bug-details::-webkit-scrollbar-track {
    background: #303030; /* Цвет фона трека */
    border-radius: 5px;
}

.bug-details::-webkit-scrollbar-thumb {
    background: #d9d9d9; /* Цвет ползунка */
    border-radius: 5px;
}

/* Окошко с вариацией статуса бага */
.bug-status {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.status-container {
    position: absolute;
    top: 50px; 
    left: -135px; 
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #272727;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    z-index: 2; 
    align-items: center;
    gap: 10px;
}
.status-container>div {
    width: 100%;
    text-align: center;
    margin: 0px;
    transition: 0.2s;
}
.status-container>div:hover {
    background-color: #333333;
}

#status-1 {
    color: #0B94E0;
    font-size: 16px;
    cursor: pointer;
}

#status-2 {
    color: #2ECC71;
    font-size: 16px;
    cursor: pointer;
}

#status-3 {
    color: #C0392B;
    font-size: 16px;
    cursor: pointer;
}

#status-4 {
    color: #2ECC71;
    font-size: 16px;
    cursor: pointer;
}