.event-modal-eventreg-main {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.event-modal-eventreg-container {
    width: 1400px;
    height: 800px;
    background-color: #1A1A1A;
    padding-top: 30px;
    padding-left: 70px;
    /* padding-right: 70px; */
    display: flex; 
    justify-content: space-between;
}
.event-modal-eventreg-title {
    font-family: 'My Open Sans';
    margin: 0px;
    color: #D9D9D9;
    font-weight: lighter;
    font-size: 30px;
    width: 400px;
    word-wrap: break-word;
}
.event-modal-eventreg-slots-value {
    color: #D9D9D9;
    margin: 0px;
    margin-top: 5px;
    margin-left: 20px;
}
.event-modal-eventreg-h3-title {
    font-family: 'My Open Sans';
    margin: 0px;
    color: #D9D9D9;
    font-weight: lighter;
    font-size: 23px;
    width: 400px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.event-modal-eventreg-img-container {
    background-position: center;
    background-size: cover;
    width: 520px;
    height: 292.5px;
}
.event-modal-eventreg-h3-decorative-line {
    height: 5px;
    width: 300px;
    background-color: #D9D9D9;
    border-radius: 10px;
}
#event-modal-eventreg-p-reg-header {
    font-family: 'OpenSans_LightItalic';
    font-size: 11pt;
    margin-left: 10px;
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #D9D9D9;
    align-items: center;
    width: 300px;
}
.event-modal-eventreg-checkbox-container {
    margin: 0px;
    padding: 0px;
    /* background-color: red; */
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-modal-eventreg-checkbox-container>p {
    margin: 0px;
    font-family: 'My Open Sans';
    font-size: 11pt;
    width: 280px;
    cursor: pointer;
    color: #D9D9D9;
    margin-left: 10px;
}
.event-modal-eventreg-checkbox-container>div {
    height: 33px;
    width: 33px;
    background-color: #D9D9D9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventreg-checkbox-container>div>div {
    width: 21px;
    height: 21px;
    background-color: #969696;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px 2px #00000050;
    transition: 0.2s;
}
.event-modal-eventreg-checkbox-container>div:hover {
    background-color: #b1b1b1;
}
.event-modal-eventreg-sendRequest {
    background-color: #30762D;
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    font-family: 'My Open Sans';
    font-weight: lighter;
    border-radius: 3px;
    font-size: 15pt;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventreg-sendRequest:hover {
    background-color: #255f23;
}
#event-modal-eventreg-sendRequest-p-callback {
    color: #D9D9D9;
    font-size: 10pt;
    width: 530px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
}
.event-modal-eventreg-slots-h2 {
    font-family: 'My Open Sans';
    font-size: 20pt;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: lighter;
}
.event-modal-eventreg-slots-decorative-line {
    height: 3px;
    width: 100%;
}
.event-modal-eventreg-slot-container {
    width: 322px;
    box-sizing: border-box;
    height: 37px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-family: 'My Open Sans';
    padding-left: 20px;
    background-color: #D9D9D9;
    font-size: 13pt;
    color: #00000075;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    outline: none;
    border: solid 3px #30762D;
    justify-content: space-between;
}
.event-modal-eventreg-slot-container:hover {
    background-color: #b1b1b1;
}
.event-modal-eventreg-slot-container>span {
    margin-right: 20px;
    overflow: hidden;
}
.event-modal-eventreg-slots-main-container {
    display: flex;
    width: 724px;
    margin-right: 10px;
    height: 680px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* Фон скроллбара */
.event-modal-eventreg-slots-main-container::-webkit-scrollbar-track {
    background: #1A1A1A; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-eventreg-slots-main-container::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px; /* Цвет полоски */
}
/* Сам скроллбар */
.event-modal-eventreg-slots-main-container::-webkit-scrollbar {
    width: 5px;
}
.event-modal-eventreg-squad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    border-radius: 10px;
    color: #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 40px;
}
.event-modal-eventreg-squad-container>div>h3 {
    font-family: 'My Open Sans';
    font-weight: lighter;
    margin: 0px;
    margin-top: 10px;
    font-size: 15pt;
    margin-left: 20px;
    word-wrap: break-word;
    overflow: hidden;
    width: 200px;
    margin-bottom: 5px;
}
.event-modal-eventreg-squad-container>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.event-modal-eventreg-squad-container>div>span {
    /* padding-left: 15px; */
    /* background-color: red; */
    font-family: 'Outist';
    color: #FF9F1A;
    font-size: 18pt;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.event-modal-eventreg-slot-tooltip {
    background-color: #4D4D4D;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    color: #AEAEAE;
    min-width: 80px;
    max-width: 240px;
    overflow: hidden;
    height: 35px;
    position: absolute;
    bottom: 10px;
    left: 250px;
    z-index: 35;
    pointer-events: none;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'My Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.event-modal-eventreg-slot-tooltip.visible {
    opacity: 1;
    visibility: visible;
}


.event-modal-eventreg-slot-tooltip2 {
    background-color: #4D4D4D;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    color: #AEAEAE;
    min-width: 80px;
    max-width: 240px;
    overflow: hidden;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 250px;
    z-index: 35;
    pointer-events: none;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'My Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.event-modal-eventreg-slot-tooltip2.visible {
    opacity: 1;
    visibility: visible;
}

.event-modal-eventreg-slot-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 17px;
    border-radius: 5px;  
    font-family: 'Outist';
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.171);
}
.event-modal-eventreg-slot-marker.mtl {
    border: solid 3px #FF9F1A; 
    color: #FF9F1A;
}
.event-modal-eventreg-slot-marker.msl {
    border: solid 3px #30762D; 
    color: #30762D;
}
.event-modal-eventreg-slot-marker.bth {
    border: solid 3px #7B370D; 
    color: #7B370D;
}