/* EVENT MODAL EVENTREMOTE */
.event-modal-eventremote-main {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.event-modal-eventremote-container {
    width: 1480px;
    height: 800px;
    background-color: #1A1A1A;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.event-modal-eventremote-info-container {
    height: 740px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.event-modal-eventremote-info-title {
    width: 550px;
    height: 60px;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    background-color: #1A1A1A;
    color: #D9D9D9;
    font-family: 'My Open Sans';
}
.event-modal-eventremote-inputfile-label {
    cursor: pointer;
    background-color: #D9D9D9;
    width: 250px;
    height: 35px;
    font-family: 'My Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 14pt;
    text-align: center;
    transition: 0.2s;
}
.event-modal-eventremote-inputfile-label:hover {
    background-color: #a7a3a3;
}
.event-modal-eventremote-inputfile-container {
    display: flex;
    align-items: center;
}
.event-modal-eventremote-info-metar {
    width: 550px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #1A1A1A;
    color: #D9D9D9;
    font-family: 'My Open Sans';
}
.event-modal-eventremote-info-description {
    width: 450px;
    height: 160px;
    font-size: 17px;
    margin-top: 10px;
    background-color: #1A1A1A;
    color: #D9D9D9;
    font-family: 'My Open Sans';
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
.event-modal-eventremote-info-description::-webkit-scrollbar-track {
    background: #989898; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-eventremote-info-description::-webkit-scrollbar-thumb {
    background: #2E2E2E; /* Цвет полоски */
}

/* Сам скроллбар */
.event-modal-eventremote-info-description::-webkit-scrollbar {
    width: 5px;
}

.event-modal-eventremote-td-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #D9D9D9;
}
.event-modal-eventremote-td-input {
    width: 23px;
    text-align: center;
    font-size: 20px;
    background-color: #1A1A1A;
    color: #D9D9D9;
    font-family: 'My Open Sans';
}
.event-modal-eventremote-td-info-title {
    font-size: 16pt;
}
.event-modal-eventremote-button-openEvent {
    height: 35px;
    width: 200px;
    background-color: #30762D;
    color: #D9D9D9;
    border: none;
    border-radius: 3px;
    outline: none;
    font-family: 'My Open Sans';
    font-size: 16pt;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
    margin-top: 30px;
}
.event-modal-eventremote-button-openEvent:hover {
    background-color: #255f23;
}
.event-modal-eventremote-button-deleteEvent {
    color: #C0392B;
    background-color: #1A1A1A;
    border: none;
    outline: none;
    transition: 0.2s;
    width: 200px;
    font-family: 'My Open Sans';
    font-size: 15pt;
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    cursor: pointer;
}
.event-modal-eventremote-button-deleteEvent:hover {
    color: #7a241a;
}

.event-modal-eventremote-slots-container {
    height: 740px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.event-modal-eventremote-slots-header-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.event-modal-eventremote-slots-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
}
.event-modal-eventremote-slots-header-title {
    font-family: 'My Open Sans';
    font-weight: lighter;
    font-size: 18pt;
    margin: 0px;
}
.event-modal-eventremote-slots-header-decorative-line {
    width: 100%;
    height: 3px;
    margin-top: 3px;
}
.event-modal-eventremote-slots-header-name {
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-size: 13pt;
    width: 300px;
    height: 80px;
    margin: 0px;
    margin-top: 10px;
    background-color: #1A1A1A;
    text-align: center;
    resize: none;
}
.event-modal-eventremote-main-container {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    height: 600px;
    width: 730px;
}

/* Фон скроллбара */
.event-modal-eventremote-main-container::-webkit-scrollbar-track {
    background: #989898; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-eventremote-main-container::-webkit-scrollbar-thumb {
    background: #2E2E2E; /* Цвет полоски */
}
/* Сам скроллбар */
.event-modal-eventremote-main-container::-webkit-scrollbar {
    width: 5px;
}
.event-modal-eventremote-main-vehicle-container {
    width: 340px;
    display: flex;
}
.event-modal-eventremote-main-vehicle-slot-input-container {
    background-color: #D9D9D9;
    border-radius: 3px;
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.event-modal-eventremote-main-vehicle-slot-input-container>input {
    width: 100px;
    height: 30px;
    font-size: 13pt;
    font-family: 'My Open Sans';
    background-color: #D9D9D9;
    margin-left: 20px;
    margin-right: 10px;
}
.event-modal-eventremote-main-vehicle-slot-input-container>button {
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: #C0392B;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventremote-main-vehicle-slot-input-container>button:hover{
    background-color: #7a241a;   
}
.event-modal-eventremote-main-vehicle-slot-container {
    display: flex;
    margin-top: 10px;
}
.event-modal-eventremote-main-vehicle-slot-container>input {
    width: 28px;
    margin-left: 20px;
    font-size: 23px;
    font-family: 'My Open Sans';
    background-color: #1A1A1A;
    color: #D9D9D9;
}
.event-modal-eventremote-main-vehicle-button-newSlot {
    width: 180px;
    margin-left: 15px;
    border: none;
    outline: none;
    position: relative;
    top: 5px;
    height: 8px;
    border-radius: 30px;
    background-color: #969696;
    cursor: pointer;
    transition: 0.1s;
}
.event-modal-eventremote-main-vehicle-button-newSlot:hover{
    height: 13px;
}
.event-modal-eventremote-button-pvpon {
    height: 34px;
    font-family: 'My Open Sans'; 
    border: none;
    outline: none;
    border-radius: 2px; 
    font-size: 13pt;
    width: 250px;
    cursor: pointer;
    background-color: #D9D9D9;
    transition: 0.2s;
    margin-right: 30px;
}
.event-modal-eventremote-button-pvpon:hover {
    background-color: #969696;
}
.event-modal-eventremote-main-team-container {
    margin-right: 30px;
}
.event-modal-eventremote-kit-container {
    height: 30px;
    width: 330px;
    border: solid 2px #30762D;
    background-color: #D9D9D9;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-modal-eventremote-kit-input{
    background-color: #D9D9D9;
    /* background-color: red; */
    font-family: 'My Open Sans';
    font-size: 14pt;
    padding-left: 20px;
    width: 260px;
    height: 28px;
    border: none;
    outline: none;
}
.event-modal-eventremote-squad-container {
    width: 100%;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
}
.event-modal-eventremote-squad-header-container>input {
    margin: 0px;
    font-family: 'My Open Sans';
    font-weight: lighter;
    margin-top: 5px;
    color: #D9D9D9;
    font-size: 17pt;
    width: 190px;
    background-color: #363636;
    padding-left: 20px;
    margin-bottom: 10px;
}
.event-modal-eventremote-newKit {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
    font-size: 15pt;
    font-family: 'My Open Sans';
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-eventremote-newKit:hover {
    background-color: #969696;
}
.event-modal-eventremote-kit-container>button {
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: #C0392B;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 15px;
}
.event-modal-eventremote-kit-container>button:hover {
    background-color: #7a241a;
}
.event-modal-eventremote-button-squad-add {
    height: 34px;
    font-family: 'My Open Sans'; 
    border: none;
    outline: none;
    border-radius: 2px; 
    font-size: 13pt;
    width: 250px;
    cursor: pointer;
    background-color: #D9D9D9;
    transition: 0.2s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.event-modal-eventremote-button-squad-add:hover {
    background-color: #969696;
}
.event-modal-eventremote-squad-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}
.event-modal-eventremote-button-squad-delete {
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: #C0392B;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 20px;
}
.event-modal-eventremote-button-squad-delete:hover {
    background-color: #7a241a;
}
.event-modal-eventremote-button-hqTurn {
    height: 25px;
    width: 60px;
    border-radius: 5px;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    color: #696969;
    user-select: none;
}
.event-modal-eventremote-button-hqTurn:hover {
    background-color: #91919125;
}