.event-modal-reglist-main {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.event-modal-reglist-container {
    width: 1400px;
    height: 800px;
    background-color: #1A1A1A;
    padding-top: 30px;
    padding-left: 70px;
    display: flex; 
    justify-content: space-between;
}
.event-modal-reglist-title {
    font-family: 'My Open Sans';
    margin: 0px;
    color: #D9D9D9;
    font-weight: lighter;
    font-size: 30px;
    width: 400px;
    margin-bottom: 60px;
    word-wrap: break-word;
}
.event-modal-reglist-req-container {
    height: 160px;
    border-radius: 10px;
    width: 330px;
    background-color: #363636;
    margin-bottom: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-reglist-req-container>div>h2 {
    margin: 5px;
    margin-left: 30px;
    font-weight: lighter;
    color: #D9D9D9;
    font-size: 15pt;
    width: 250px;
    overflow: hidden;
}
.event-modal-reglist-req-marker {
    width: 30px;
    border-radius: 3px;
    height: 15px;
    background-color: #1A1A1A;
    margin-right: 8px;
    box-shadow: inset 0px 0px 4px 1px #00000025;
}
.event-modal-reglist-req-container>span {
    margin-left: 30px;
    margin-top: 2px;
    display: flex;
    font-size: 18px;
    color: #D9D9D9;
}
.event-modal-reglist-req-main-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.event-modal-reglist-req-main-container::-webkit-scrollbar-track {
    background: #1A1A1A; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-reglist-req-main-container::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px; /* Цвет полоски */
}
/* Сам скроллбар */
.event-modal-reglist-req-main-container::-webkit-scrollbar {
    width: 5px;
}
.event-modal-reglist-req-container:hover {
    background-color: #303030 !important;
}
.event-modal-reglist-report-container {
    height: 370px;
    border-radius: 10px;
    width: 275px;
    background-color: #363636;
    display: flex;
    flex-direction: column;
}
.event-modal-reglist-report-container>h2 {
    margin: 0px;
    font-weight: lighter;
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-size: 15pt;
    margin-top: 10px;
    margin-left: 30px;
}
.event-modal-reglist-report-container>div {
    width: 240px;
    height: 5px;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin-left: 17.5px;
    margin-top: 5px;
}
.event-modal-reglist-report-container>h3{
    margin: 0px;
    font-weight: lighter;
    color: #737373;
    font-family: 'OpenSans_SemiBold';
    font-size: 12pt;
    margin-top: 8px;
    margin-left: 30px;
}
.event-modal-reglist-report-container>span{
    margin: 0px;
    font-weight: lighter;
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-size: 11pt;
    margin-left: 35px;
}
.event-modal-reglist-report-button-a {
    width: 250px;
    height: 35px;
    background-color: #30762D;
    border: none;
    outline: none;
    color: #D9D9D9;
    margin-top: 15px;
    font-family: 'My Open Sans';
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-reglist-report-button-a:hover {
    background-color: #255c23;
}
.event-modal-reglist-report-button-r {
    width: 250px;
    height: 35px;
    background-color: #C0392B;
    border: none;
    outline: none;
    color: #D9D9D9;
    margin-top: 15px;
    font-family: 'My Open Sans';
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-reglist-report-button-r:hover {
    background-color: #9b2f23;
}
.event-modal-reglist-report-button-r-cancel {
    width: 250px;
    height: 35px;
    background-color: #555555;
    border: none;
    outline: none;
    color: #D9D9D9;
    margin-top: 15px;
    font-family: 'My Open Sans';
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    transition: 0.2s;
}
.event-modal-reglist-report-button-r-cancel:hover {
    background-color: #4b4b4b;
}
.event-modal-reglist-report-reason-input {
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #363636;
    color: #D9D9D9;
    font-family: 'My Open Sans';
    font-size: 12pt;
    padding: 15px;
    padding-top: 10px;
    height: 100px;
    width: 275px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.event-modal-reglist-report-reason-input::-webkit-scrollbar-track {
    background: #989898; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-reglist-report-reason-input::-webkit-scrollbar-thumb {
    background: #2E2E2E; /* Цвет полоски */
}
/* Сам скроллбар */
.event-modal-reglist-report-reason-input::-webkit-scrollbar {
    width: 5px;
}
.event-modal-reglist-slots-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
.event-modal-reglist-slots-header>h2 {
    font-weight: lighter;
    color: #D9D9D9;
    margin: 0px;
}
.event-modal-reglist-slots-header>div {
    width: 100%;
    height: 3px;
}
.event-modal-reglist-slots-main {
    display: flex;
    /* background-color: green; */
    height: 760px;
    margin-bottom: 30px;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
}
.event-modal-reglist-slots-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-modal-reglist-slots-main::-webkit-scrollbar-track {
    background: #1A1A1A; /* Цвет фона */
}
/* Полоска скроллбара */
.event-modal-reglist-slots-main::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px; /* Цвет полоски */
}
/* Сам скроллбар */
.event-modal-reglist-slots-main::-webkit-scrollbar {
    width: 5px;
}
.reglistSlot-main-container-open {
    background-color: #D9D9D9;
    overflow: hidden;
    min-height: 30px;
    width: 260px;
    border: solid 3px #30762D;
    color: #000;
    font-family: 'My Open Sans';
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 2px;
    cursor: default;
}
.reglistSlot-main-container-select {
    background-color: #153B51;
    overflow: hidden;
    min-height: 30px;
    width: 260px;
    border: solid 3px #066DA7;
    color: #000;
    font-family: 'My Open Sans';
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 2px;
    cursor: default;
}
.reglistSlot-main-container-close {
    background-color: #D9D9D9;
    overflow: hidden;
    min-height: 30px;
    width: 260px;
    border: solid 3px #C0392B;
    color: #000;
    font-family: 'My Open Sans';
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 2px;
    cursor: default;
}
.reglistSquad-main-container {
    /* height: 100px; */
    width: 300px;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 30px;
}
.reglistSquad-main-container>h2 {
    color: #D9D9D9;
    font-weight: lighter;
    font-size: 15pt;
    margin: 0px;
    margin-top: 10px;
    margin-left: 25px;
    overflow: hidden;
    width: 275px;
    margin-bottom: 5px;
}
.event-modal-reglist-report-button-a-alert {
    background-color: #4D4D4D;
    color: #AEAEAE;
    width: 160px;
    height: 35px;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 35;
    pointer-events: none;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'My Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
.event-modal-reglist-report-button-a-alert.visible {
    opacity: 1;
    visibility: visible;
}
.reglistSquad-title {
    font-family: 'My Open Sans';
    font-weight: lighter;
    margin: 0px;
    margin-top: 10px;
    font-size: 15pt;
    margin-left: 20px;
    word-wrap: break-word;
    overflow: hidden;
    width: 200px;
    color: white;
    margin-bottom: 5px;
}
.reglist-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.reglist-cmdbox {
    font-family: 'Outist';
    color: #FF9F1A;
    font-size: 18pt;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.event-reglist-contextmenu-li-container{
    display: flex;
    align-items: center;
}
.event-reglist-contextmenu-icon-container{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 8px;
}
.event-contextmenu-noticemenu-container {
    background-color: #3b3b3b;
    border-radius: 7px;
    color: #aaaaaa;
    font-family: 'My Open Sans';
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.479);
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0px;
    padding-left: 20px;
    border: solid 1px #505050;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none; /* чтобы не ловить клики, когда скрыто */
}
.event-contextmenu-noticemenu-container.visible {
    width: 300px;
    background-color: #3b3b3b;
    border-radius: 7px;
    color: #aaaaaa;
    font-family: 'My Open Sans';
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.479);
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-left: 20px;
    border: solid 1px #505050;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.event-contextmenu-noticemenu-textarea {
    height: 70px;
    width: 230px;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
    background-color: #3b3b3b;
    color: #D9D9D9;
    font-size: 13pt;
    margin-bottom: 10px;
    font-family: 'My Open Sans';
}
.event-contextmenu-noticemenu-but {
    width: 130px;
    height: 30px;
    font-size: 13pt;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    background-color: #555;
    color: white;
    font-family: 'My Open Sans';
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0px;
    padding: 0px;
}
.event-contextmenu-noticemenu-but:hover {
    background-color: #4b4b4b;
}
.event-contextmenu-noticemenu-textarea::-webkit-scrollbar-track {
    background: #3b3b3b; /* Цвет фона */
}
/* Полоска скроллбара */
.event-contextmenu-noticemenu-textarea::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px; /* Цвет полоски */
}
/* Сам скроллбар */
.event-contextmenu-noticemenu-textarea::-webkit-scrollbar {
    width: 5px;
}