.devBranch-marker {
    position: fixed;
    width: 300px;
    height: 50px;
    margin-top: 150px;
    z-index: 30;
    color: #d9d9d91f;
    border-radius: 10px;
    border: solid 3px #d9d9d91f;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'outist';
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    user-select: none;
}

#nprogress .bar {
    background: rgb(245, 105, 11);
    height: 4px;
  }
  
#nprogress .peg {
box-shadow: 0 0 10px rgb(245, 105, 11), 0 0 5px rgb(245, 105, 11);
}